<div class="container-fluid">
  <form (ngSubmit)="recherche()" #searchForm="ngForm">

    <div class="row col2">
      <h2>Rechercher votre medecin</h2>
    </div>

    <div class="row">
      <!--Nom -->
      <div class="form-group">
        <label for="name">Nom </label>
        <input #name type="text" #nom="ngModel" name="nom" class="form-control" [(ngModel)]="medecinModel.nom">
      </div>
      <!--Prenom-->
      <div class="form-group">
        <label for="name">Prenom </label>
        <input #name type="text" #prenom="ngModel" name="prenom" class="form-control" [(ngModel)]="medecinModel.prenom">
      </div>
    </div>

    <div class="row">
      <!--Specialite -->
      <div class="form-group">
        <label for="specialite">Specialité :</label>
        <select class="form-control" #specialite="ngModel" name="specialite"  [(ngModel)]="medecinModel.specialite">
          <option [ngValue]="null">Selectionner la specialite</option>
          <option *ngFor="let spe of listSpe">{{spe.nom_specialite}}</option>
        </select>
      </div>
      <!-- Ville -->
      <div class="form-group">
        <label for="ville">
          Ville :
        </label>
        <input type="text" #ville="ngModel" name="ville" class="form-control" [(ngModel)]="medecinModel.ville">
      </div>
    </div>

    <div class="row">
      <button class="btn btn-primary" type="submit">Recherche</button>
    </div>
    <div *ngIf="resultNotfound" class="row">
      <small class="alert alert-danger">Aucun resultat trouver</small>
    </div>

  </form>


  <hr />

  <h2>Liste des Medecins</h2>
  <div *ngIf="!afficherListRecherche">
    <app-recherche-single class="col" *ngFor="let medecin of listMedecin" [medecin]="medecin"></app-recherche-single>
  </div>
  <div *ngIf="afficherListRecherche">
    <app-recherche-single class="col" *ngFor="let medecin of listMedecinCritere" [medecin]="medecin">
    </app-recherche-single>
  </div>
</div>