<form class="container-fluid" (ngSubmit)="onSubmit()" #clientForm="ngForm" novalidate>

  <h1>Inscription Client</h1>

  <!--Email -->
  <div class="form-group">
    <label for="email">
      Email : *
    </label>
    <input  (blur)="emailChange()" (change)="emailChange()"  type="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched || emailNonValid" class="form-control" name="email" [(ngModel)]="clientModel.email" required>
    <small *ngIf="email.invalid && email.touched" class="text-danger">Email obligatoire</small>
    <small *ngIf="emailNonValid" class="text-danger">l'Email est déjà pris</small>

  </div>

  <!-- Mdp -->
  <div class="form-group">
    <label for="mdp">
      Mot de passe : *
    </label>
    <input (blur)="validateMdp(mdp.value, mdpconfirm.value)" 
    (change)="validateMdp(mdp.value, mdpconfirm.value)" 
    type="password" 
    #mdp="ngModel" 
    [class.is-invalid]="mdp.invalid && mdp.touched || mdpNonEgal || mdpCourt || mdpNonValide"
    [class.is-valid]="!mdpCourt && !mdpNonEgal && mdp.touched && !mdpNonValide" 
    class="form-control" 
    name="mdp" 
    [(ngModel)]="clientModel.mdp" 
    required>
    <div *ngIf="mdp.errors && mdp.touched && mdp.invalid">
      <small class="text-danger" *ngIf="mdp.errors.required"> Mot de passe Obligatoire </small>
    </div>
    <small *ngIf="mdpCourt" class="text-danger">Le Mot de passe est trop court</small>
    <small *ngIf="mdpNonValide" class="text-danger">Le Mot de passe doit contenir au moins 1 lettre, 1 chiffre et 1 caractère spécial</small>

  </div>

  <!-- Confirm Mdp -->
  <div class="form-group">
    <label for="mdpconfirm">
      Confirmation du mot de passe :
    </label>
    <input (blur)="validateMdp(mdp.value, mdpconfirm.value)"
    (change)="validateMdp(mdp.value, mdpconfirm.value)" 
    type="password" 
    #mdpconfirm="ngModel" 
    [class.is-invalid]="mdpconfirm.invalid && mdpconfirm.touched || mdpNonEgal "
    [class.is-valid]="!mdpCourt && !mdpNonEgal && mdp.touched && !mdpNonValide"  
    class="form-control"
    name="mdpconfirm" 
    ngModel 
    required>    
    <small class="text-danger" *ngIf="mdpNonEgal">Les Mots de passe ne sont pas pareil (le copier-coller ne colle pas votre mdp)</small>

  </div>

  <!-- Nom -->
  <div class="form-group">
    <label for="nom">
      Nom :
    </label>
    <input type="text" #nom="ngModel" class="form-control" name="nom" [(ngModel)]="clientModel.nom">
  </div>

  <!-- Prenom -->
  <div class="form-group">
    <label for="prenom">
      Prenom :
    </label>
    <input type="text" #prenom="ngModel" class="form-control" name="prenom" [(ngModel)]="clientModel.prenom">
  </div>

  <!-- Tel -->
  <div class="form-group">
    <label for="tel">
      Numéro de telephone :
    </label>
    <input type="text" #tel="ngModel" [class.is-invalid]="tel.invalid && tel.touched" class="form-control" pattern="^\d{10}$" name="tel" [(ngModel)]="clientModel.tel">
    <small *ngIf="tel.invalid && tel.touched" class="text-danger">Le numero de telephone doit contenir 10 chiffres</small>

  </div>

  <p class="text-danger">* Champ Obligatoire</p>

  <button class="btn btn-primary" type="submit" [disabled]="clientForm.invalid || !formValid">Confirmer</button>

  <div *ngIf="inscriptionSubmit == 1" class="alert alert-success">Inscription Réussit </div>
  <div *ngIf="inscriptionSubmit == 2" class="alert alert-danger">Il y a eu une erreur veuillez reessayer plus tard.</div>

</form>
