<form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
  <h2>Rechercher votre medecin</h2>

  <!--Nom Ou Prenom -->
  <div class="form-group">
    <label for="name">Nom ou Prenom :</label>    
    <input #name type="text" id="name" class="form-control" ngModel>
  </div>
  <!--Specialite -->
  <div class="form-group">
    <label for="sel1">Specialité :</label>
    <select class="form-control" id="sel1">
      <option #specialite *ngFor="let spe of listSpe">{{spe.nom_specialite}}</option>     
    </select>
  </div>
  <!-- Ville -->
  <div class="form-group">
    <label for="status">
      Ville : 
    </label>
    <input type="text" #ville id="ville" class="form-control" ngModel>
  </div>

  <button class="btn btn-primary" type="submit">Recherche</button>
</form>


<hr/>

<h2> test Get Request </h2>

<table class="table">
  <tr>
    <th>Id</th>
    <th>nom</th>
    <th>prenom</th>
    <th>tel</th>
    <th>cabtel</th>
    <th>adress</th>
    <th>bio</th>
    <th>urlImg</th>

  </tr>
  <tr *ngFor="let m of listMedecin">
    <th>{{m.id}}</th>
    <th>{{m.nom}}</th>
    <th>{{m.prenom}}</th>
    <th>{{m.tel}}</th>
    <th>{{m.cabinet_tel}}</th>
    <th>{{m.adresse}}</th>
    <th>{{m.bio_profil}}</th>
    <th>{{m.url_img}}</th>
  </tr>
</table>