<!-- =============== Navigateur ========== -->
<nav class="navbar navbar-expand-lg navbar-light bg-info navbar-fixed-top">
  <a class="navbar-brand text-white" routerLinkActive="active" routerLink="home">Site Medecin (Logo)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Onglet de navigation -->
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item active">
        <a class="nav-link text-white nav-size-text" routerLink="home">Acceuil</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link text-white nav-size-text" routerLink="tips">Conseil</a>
      </li>
    </ul>

    <!-- Bouton  -->
    <ul class="nav justify-content-end">
      <li routerLinkActive="active" class="nav-item m-1">
        <a class="nav-link text-white btn btn-primary" routerLink="search">Rechercher un Medecin</a>
      </li>
      <li routerLinkActive="active" class="nav-item m-1">
        <a class="nav-link text-white btn btn-success" routerLink="register">Créer un compte</a>
      </li>
      <li routerLinkActive="active" class="nav-item m-1">
        <a class="nav-link text-white btn btn-primary" routerLink="log-in">Se connecter</a>
      </li>
    </ul>
  </div>
</nav>

<div class="site-bg">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>