<h1>Connexion Proffesionel</h1>

<hr/>

<h2>Vous êtes medecins :</h2>

<form (ngSubmit)="onSubmitM(loginFormM)" #loginFormM="ngForm">
  <div class="form-group">
      <label for="emailM">
        Email
      </label>
      <input type="text" id="emailM" class="form-control" name="emailM" ngModel  [(ngModel)]='emailM'>
  </div>
  <div class="form-group">
      <label for="status">
        Mot de passe 
      </label>
      <input type="password" id="mdpM" class="form-control" name="mdpM" ngModel [(ngModel)]='mdpM'>
  </div>

  <button class="btn btn-primary" type="submit">Connexion</button>
</form>

<hr/>
<h2>Vous êtes secretaire :</h2>

<form (ngSubmit)="onSubmitS(loginFormS)" #loginFormS="ngForm">
  <div class="form-group">
      <label for="emailS">
        Email
      </label>
      <input type="text" id="emailS" class="form-control" name="emailS" ngModel [(ngModel)]='emailS'>
  </div>
  <div class="form-group">
      <label for="mdpS">
        Mot de passe 
      </label>
      <input type="password" id="mdpS" class="form-control" name="mdpS" ngModel [(ngModel)]='mdpS'>
  </div>

  <button class="btn btn-primary" type="submit">Connexion</button>
</form>