<!-- ======================= Caroussel ========================= -->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view">
      <img class="d-block w-100" src="../../../assets/rdv.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive text-color">Prise de rendez-vous</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view">
      <img class="d-block w-100" src="../../../assets/gestion.jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive text-color">Espace Medecin</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>